<div class="component">
    <h2>{{text}}<h2>
    <pre>{{style}} &nbsp &nbsp {{id}}</pre>
    <button class="btn btn-warning" type="button" ng-click="addItem()"> + item </button>  &nbsp &nbsp
    <button class="btn btn-warning" type="button" ng-click="cancel()">cancel</button>
    <pre>{{list | json}}</pre>
    <div ng-repeat="item in list">
      {{item.name}}
      <button class="btn btn-warning" type="button" ng-click="modify($index, 'remove')"> - </button>
      {{item.quantity}} 
      <button class="btn btn-warning" type="button" ng-click="modify($index, 'add')"> + </button> &nbsp &nbsp
      <button class="btn btn-warning" type="button" ng-click="updateOrderItems($index)"> save </button>
    </div>
</div>
<!-- select ="orderCardController.addItems(list.itemId, null)" -->
