<div class="component">
    <h2>{{text}}<h2>
    <pre>{{style}} &nbsp &nbsp {{id}}</pre>
    <button type="button" ng-click="linkItems(order.id)"> + item </button>  &nbsp
    <button type="button" ng-click="close modal()"> cancel </button>  &nbsp
    <pre>{{list | json}}</pre>
    <div ng-repeat="item in list">
      {{item.name}}
      <button type="button" ng-click="modify($index, 'remove')"> - </button>
      {{item.quantity}} 
      <button type="button" ng-click="modify($index, 'add')"> + </button> &nbsp &nbsp
      <button type="button" ng-click="updateOrderItems($index)"> save </button>
    </div>
</div>
<!-- select ="orderCardController.addItems(list.itemId, null)" -->
